<div class={{concat "above-table" " " aboveTableClass}}>
  {{#if (or filtersComponent filterFormSchema)}}
    <div class="margin-bottom-lg sort-filter">
      {{#if sortParams.sortProps}}
        <div class="sorting-controls flex margin-bottom-lg">
          <h3 class="margin-right-lg">Sort by: </h3>
          {{#each sortParams.sortProps as | propName |}}
            <a {{action setSortParamsNew propName (or defaultSortDirection "asc")}} class="margin-right-lg btn btn-outline-gray-medium">{{propName}}</a>
          {{/each}}
        </div>
      {{/if}}
      <BasicDropdown 
        @verticalPosition="below" 
        @renderInPlace={{true}} 
        @positionStatic={{true}} 
        @initiallyOpened={{filtersActive}} as |Dropdown|>
        <Dropdown.Trigger>
          <button class={{or filtersTriggerClass "btn btn-outline-primary"}}>
            {{#if Dropdown.isOpen}}
              {{svg-repo/icons/icon-cross}}Hide Filters
            {{else}}
              {{svg-repo/icons/icon-filter}}Show Filters
            {{/if}}
          </button>
        </Dropdown.Trigger>
        <Dropdown.Content class="filter-controls body-content position-static">
          <div class="pop-up-box box-arrow">
            {{#if filtersActive}}
              <div class="filtering-results">
                {{svg-repo/icons/icon-asterisk class="filters-active-icon bg-primary"}} Filters are active ({{modelMetaData.filtered_data_length}} {{ember-skeleton/custom-inflector modelMetaData.filtered_data_length singular=singleRecordName plural=pluralRecordName}} returned).
              </div>
            {{/if}}
            {{#if filterFormSchema}}
              {{ember-pojo-form/validating-form
                formSchema=filterFormSchema
                submitAction=(action applyFilters)
                beforeReset=(action clearAllFilters)
                afterFieldEdit=(action afterFieldEdit)
                data=filterProps
              }}
            {{else}}
              {{component filtersComponent
                applyFilters=(action applyFilters)
                clearAllFilters=(action clearAllFilters)
                data=filterProps
                filterFormSchema=filterFormSchema
              }}
            {{/if}}
          </div>
        </Dropdown.Content>
      </BasicDropdown>
    </div>
  {{/if}}
  {{yield (hash aboveTable=(component "blank-template"))}}
</div>

{{#if model}}
  {{#if paginationLinks}}
    {{ember-interactive-table/pagination-controls
      modelMetaData=modelMetaData
      paginationLinks=paginationLinks
      setProperty=(action setProperty)
      class="margin-bottom-lg"
    }}
  {{/if}}
  <div class="data-table-wrapper {{if trashed "viewing-trashed-items"}} {{if deletionPending "deletion-pending"}}">
    <div class="data-table-wrapper-inner">
      {{yield (hash tableComponent=(component "blank-template"))}}
    </div>
  </div>
  {{#if paginationLinks}}
    {{ember-interactive-table/pagination-controls
      modelMetaData=modelMetaData
      paginationLinks=paginationLinks
      setProperty=(action setProperty)
      class="margin-top-lg"
    }}
  {{/if}}
{{else}}
  {{#ember-extended-elements/in-page-alert type="info" data-test-id="no-items-notice"}}
    {{#if filtersActive}}
      Your selected filters don"t match any {{pluralRecordName}}. Please update your filter settings, or click <b>Clear filters</b> above.
    {{else}}
      You have no {{pluralRecordName}} to display yet.
    {{/if}}
  {{/ember-extended-elements/in-page-alert}}
{{/if}}