<div class="data-table-container-inner">
  {{yield}}
</div>
{{!-- {{#if enableAutoScroll}}
  <div class="data-table-container-inner">
      <div class="fixed">
        {{yield}}
      </div>
      <div class="scrollable">
        {{yield}}
      </div>
  </div>
{{else}}
  <div class="data-table-container-inner">
    {{yield}}
  </div>
{{/if}} --}}