<div class="width-100 overflow-x-auto" ...attributes>
  <div class="above-table {{@aboveTableClass}}">
    <div class="above-table-row-1 {{@aboveTableRow1Class}}">
      {{#if (or @filtersComponent @filterFormSchema)}}
        <div class="sort-filter">
          {{#if @sortParams.sortProps}}
            <div class="sorting-controls flex margin-bottom-lg">
              <h3 class="margin-right-lg">Sort by: </h3>
              {{#each @sortParams.sortProps as |propName|}}
                <a
                  {{on
                    "click"
                    (fn
                      @setSortParams propName (or @defaultSortDirection "asc")
                    )
                  }}
                  class="margin-right-lg btn btn-outline-gray-medium"
                >{{propName}}</a>
              {{/each}}
            </div>
          {{/if}}
          {{#if this.showFiltersForm}}
            <BasicDropdown
              @verticalPosition="below"
              @renderInPlace={{false}}
              @initiallyOpened={{this.filtersActive}}
              @destination="above-table-row-2"
              as |Dropdown|
            >
              <Dropdown.Trigger>
                <button
                  class={{or @filtersTriggerClass "btn btn-outline-primary"}}
                  data-test-id="toggle-filters-button"
                >
                  {{#if Dropdown.isOpen}}
                    <SvgRepo::Icons::IconCross />
                    Hide Filters
                  {{else}}
                    <SvgRepo::Icons::IconFilter />
                    Show Filters
                  {{/if}}
                </button>
              </Dropdown.Trigger>
              <Dropdown.Content
                class="filter-controls body-content position-static"
              >
                <div class="pop-up-box box-arrow">
                  {{#if this.filtersActive}}
                    <div
                      class="filtering-results"
                      data-test-class="eit-data-table-filtering-result-overview"
                    >
                      <SvgRepo::Icons::IconAsterisk
                        class="filters-active-icon bg-primary"
                      />

                      Filters are active ({{this.modelMetaData.filtered_data_length}}
                      {{ember-skeleton/custom-inflector
                        this.modelMetaData.filtered_data_length
                        singular=@singleRecordName
                        plural=@pluralRecordName
                      }}
                      returned).
                    </div>
                  {{/if}}
                  {{#if @filterFormSchema}}
                    <ChangesetWebform
                      @formSchema={{@filterFormSchema}}
                      @submitAction={{@applyFilters}}
                      @beforeReset={{@clearAllFilters}}
                      @afterFieldEdit={{@filterFieldChanged}}
                      @data={{@filterProps}}
                      data-test-id="filters-form"
                    />
                  {{else}}
                    <@filtersComponent
                      @applyFilters={{@applyFilters}}
                      @clearAllFilters={{@clearAllFilters}}
                      @afterFieldEdit={{@filterFieldChanged}}
                      @data={{@filterProps}}
                      @filterFormSchema={{@filterFormSchema}}
                    />
                  {{/if}}
                </div>
              </Dropdown.Content>
            </BasicDropdown>
          {{/if}}
        </div>
      {{/if}}
      {{yield (hash aboveTable=(component "blank-template"))}}
    </div>
    <div
      id="above-table-row-2"
      class="above-table-row-2 {{@aboveTableRow2Class}}"
    ></div>

  </div>
  {{#if @model}}
    <div class="eit-top-pagination">
      {{#if this.paginationLinks}}
        <EmberInteractiveTable::PaginationControls
          @modelMetaData={{this.modelMetaData}}
          @paginationLinks={{this.paginationLinks}}
          @page={{mut @page}}
          @size={{@size}}
          class="margin-bottom-lg"
        />
      {{/if}}
      {{yield (hash afterTopPagination=(component "blank-template"))}}
    </div>
    <div
      class="data-table-wrapper
        {{if @trashed 'viewing-trashed-items'}}
        {{if @deletionPending 'deletion-pending'}}"
    >
      <div class="data-table-wrapper-inner">
        {{yield (hash tableComponent=(component "blank-template"))}}
      </div>
    </div>
    {{#if this.paginationLinks}}
      <EmberInteractiveTable::PaginationControls
        @modelMetaData={{this.modelMetaData}}
        @paginationLinks={{this.paginationLinks}}
        @page={{mut @page}}
        @size={{@size}}
        class="margin-top-lg"
      />
    {{/if}}
  {{else}}
    <EmberSundries::InPageAlert @type="info" data-test-id="no-items-notice">
      {{#if this.filtersActive}}
        Your selected filters don't match any
        {{this.pluralRecordName}}. Please update your filter settings.
      {{else}}
        You have no
        {{this.pluralRecordName}}
        to display yet.
      {{/if}}
    </EmberSundries::InPageAlert>
  {{/if}}
</div>