<div class="table-pagination" ...attributes>
  <div class="page-navigation" data-test-class="eit-pagination">
    {{#if this.paginationObject.prev}}
      <button
        {{on "click" (fn (mut @page) this.paginationObject.first.number)}}
        class="incrementing-arrow-double left-right margin-right-md btn-content"
        title="First"
        data-test-class="eit-pagination-first"
      ><SvgRepo::Icons::IconArrowLeftDouble /></button>
      <button
        {{on "click" (fn (mut @page) this.paginationObject.prev.number)}}
        class="incrementing-arrow left-right right margin-right-md btn-content"
        title="Previous"
        data-test-class="eit-pagination-prev"
      ><SvgRepo::Icons::IconArrowLeft /></button>
    {{/if}}
    <div class="page-number-input" data-test-class="eit-pagination-page-number">
      Page
      <input
        id="eit-page-number-{{this._uid}}"
        value={{readonly this.paginationObject.self.number}}
        {{on "change" (fn (action (mut @page) value="target.value"))}}
      />
      of
      {{this.paginationObject.last.number}}
    </div>
    {{#if this.paginationObject.next}}
      <button
        {{on "click" (fn (mut @page) this.paginationObject.next.number)}}
        class="incrementing-arrow left-right margin-left-md btn-content"
        title="Next"
        data-test-class="eit-pagination-next"
      ><SvgRepo::Icons::IconArrowRight /></button>
      <button
        {{on "click" (fn (mut @page) this.paginationObject.last.number)}}
        class="incrementing-arrow-double left-right margin-left-md btn-content"
        title="Last"
        data-test-class="eit-pagination-last"
      ><SvgRepo::Icons::IconArrowRightDouble /></button>
    {{/if}}
  </div>
  <div class="page-size">
    <div class="arrows">
      <button
        {{on "click" (fn (mut @size) this.pageSize.nextUp)}}
        class="incrementing-arrow up-down up btn-content"
        title="Next"
        data-test-class="eit-pagination-increase-page-size"
      ><SvgRepo::Icons::IconArrowUp /></button>
      <button
        {{on "click" (fn (mut @size) this.pageSize.nextDown)}}
        class="incrementing-arrow up-down down btn-content"
        title="Last"
        data-test-class="eit-pagination-decrease-page-size"
      ><SvgRepo::Icons::IconArrowDown /></button>
    </div>
    <span
      class="page-size"
      data-test-class="eit-pagination-current-page-size"
    ><input
        id="eit-page-size-{{this._uid}}"
        value={{readonly this.pageSize.current}}
        {{on "change" (fn (action (mut @size) value="target.value"))}}
      /></span>
    items per page
  </div>
</div>